@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branco: #fff;
  --alerta: #ff0000;
  --primario: #000814;
  --segundario: #001D3D;
  --terciario: #003566;
  --quarto: #FFC300;
  --quinto: #FFD60A;
}

.container {
  width: 900px;
  /* max-width: 90vh; */
  background-color: var(--primario);
  margin: auto;
  text-align: center;
  transition: transform .5s;
  color: #eee
}

/* TITULO LIVRARIA ABC */
.title{
  font-family: "Monomakh", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 20px;
}

header a{
  text-decoration: none;
}

.container a{
  color: #eee;
}

svg {
  width: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  
}

/* BOTÃO DO CART */

header .cart-icon {
  position: relative;
  cursor: pointer;
  padding-top: 20px;
  padding-right: 20px;
}

/* NOTIFICAÇÃO VERMELHA DO CART */

header .cart-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: var(--alerta);
  color: var(--branco);
  border-radius: 50%;
  position: absolute;
  top: 65%;
  right: 25%;
}

/* LISTA DOS LIVROS */

.listProduct .item img{
  width: 90%;
  /* filter: drop-shadow(0 50px 20px rgba(255, 222, 222, 0.6)); */
}

.listProduct{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /* background-color: gray; */
}

.listProduct .item{
  background-color: var(--terciario);
  padding: 20px;
  border-radius: 10px;
  color: var(--branco);
}

.listProduct .item h2{
  font-weight: 500;
  font-size: large;
}

.listProduct .item .price{
  letter-spacing: 2px;
  font-size: large;
}

.listProduct .item button{
  background-color: var(--quarto);
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* TAB DO CARRINHO */

.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
  h1{
    font-family: "Monomakh", serif;
  }
}

body.showCart .cartTab {
  inset: 0 0 0 auto;
}

body.showCart .container{
  transform: translateX(-250px);
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
  height: 80px;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
}

.cartTab .btn button {
  background-color: var(--quarto);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  cursor: pointer;
  
}

.cartTab .btn .close {
  background-color: var(--branco);
}

.cartTab .listCart .item img {
  width: 100%;
  padding-left: 5px;
}

.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  font-family: "Monomakh", serif;
}

.listCart .qt span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--quinto);
  color: #555;
  border-radius: 20%;
  cursor: pointer;
}

.listCart .qt span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.listCart .item:nth-child(even) {
  background-color: #eee1;
}

.listCart {
  overflow: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}

/* CORPO DO HTML */

html,
body {
  font-family: Arial, sans-serif;
  /* background-color: gray; */
  height: 100%;
  margin: 0;
  transition: transform .5s;
}

body {
  display: flex;
  flex-direction: column;
}

nav,
article,
main,
footer,
section {
  width: 1250px;
  margin: 0px auto;
}

article,
section {
  flex: 1;
}

/* FORMULÁRIO */

.contato {
  padding-top: 20px;
  padding-left: 180px;
  label {
    display: block;
    text-transform: uppercase;
    margin-top: 15px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid var(--segundario);
    background-color: transparent;
  }
  input[type="submit"] {
    background-color: var(--segundario);
    color: var(--branco);
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 30px;
  }
  input[type="submit"]:hover {
    background-color: var(--quarto);
    color: var(--branco);
  }
}

/* FOOTER */

footer{
  padding: 20px;
  text-indent: 10px;
  letter-spacing: 2px;
  line-height: 1.2;
}


/* footer {
  width: 100%;
  padding: 30px;
  background-color: var(--primario);
  font-size: 1.3rem;
  font-family: roboto;
  transition: .5s;
  div {
    color: var(--branco);
    margin-top: 5px;
  }
  i, a{
    color: var(--branco);
    text-decoration: none;
  }
} */

@media screen and (max-width: 992px) {
  .listProduct{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 790px) {
  .listProduct{
    grid-template-columns: repeat(2, 1fr);
  }
}